/* Colors */
color-primary = #667184

color-default = #eee

color-hover = #687284
color-nav-default = #959CA8
color-nav-icon = #A6B6BF

color-danger = #fd6565

color-warning = #ffca1c

color-bg = #ECF0F5

color-active-bg = #5d769d

color-white = #fff

color-primary-font = #667184
color-font = #687284
color-reset-border = #79715c

color-text-primary = #687284
color-text-regular = #687284
color-text-secondary = #999
color-text-info = #ccc
color-text-placeholder = #c0c4cc

/*table*/
color-thead-bg = #667184
color-thead-border = #606B7D
color-thead-font = #fff
color-tr-bg-active = #F0F2F8
color-tr-bg-hover = #F0F2F8
color-tr-font-active = #333
color-tr-click = #DAE0EE
color-a-font-active = #6685b6
color-a-checkbox-active = #667184

/*form*/
color-form-border = #ddd

color-close-btn = #ddd

color-close-btn--hover = lighten(color-close-btn, 20%)

disabled-icon-color = color-text-placeholder

border-color-base = #eee
hover-background-base = #667184
